In [1]:
# Script to calculate total citation each patent made and received
# Backward citation - citation made by a patent
# Forward citation - citation received by a patent

# Renato Kogeyama

# Oct 12 2019
# Miami

# Maybe some additional analysis of citation can be useful
# Let's see how citations happen  throughout  the years


# Oct 08 2019
# Miami

#From 91,453,297 citations ids, 178,514 are larger or smaller than the majority 7-digit ids
#This represent less than 0.2% of total citations
#Two main reasons - citation_id is old (thus patents had less than 7 digits) 
#or citation is represented by the application number (typically much larger)
#As the number is small, I will go on with the current set and if necessary I'll come back later.
#This file is being renamed from 'uspto_citations_clean-sandbox-Copy1' to 'patent_citation'


# Oct 03 2019
# New York

# The function group_values do not work because it only counts the occurrences of the patents
# The correction is to groupby and sum
# Histograms of forward and should be different, but the number of occurrences should be the same
# Also, averages should be the same (avg_fwr==avg_back=sum(x)/num(x) and standard deviations should be different (due sum(x^2)/num)

# Oct 02 2019
# Syracuse

#This is a sandbox version for the citations update
#I identified an issue with the citations, and now I am working in a new citations dataset
#I included backward citations and I am planning some basic stats 


# Sep 28 2019
# Miami

# Original:testing_csv_chunk_read-Copy1.ipynb

# When working on the determinants of patent citation, I found a weird concentration of 14 citations in patents from 2003
# Most likely there is some issue with the 'join' statement
# This code is helping me debbuggin the issue
# The idea is to isolate the patents who had this number of citations
# To do that, I face an issue of memory size, the file is too large and memory runs out
# I use the iterator option from pandas.read_csv, what gives me an iterator in the place of the dataframe


# update: as I read the files, I find many whitespaces
# usually i would clean with .str.strip(), but I am using an iterator.

# Ha um problema no arquivo de citacoes. Estou reescrevendo o codigo que junta as citacoes a tabela base de patentes
# Estou tambem acrescentando backward citation - a intencao eh usar da mesma forma que claims e tambem para salientar o significado das forward citations
# Porem carregar o arquivo inteiro na memoria nao esta funcionado

# Quando o Marcelo escreveu o codig lxml, tudo foi feito com iterators
# Nao estou conseguindo testar por algum problema no servidor

# Assim, o que vou fazer agora eh selecionar um chunk para trabalhar localmente

In [2]:
import pandas as pd
import numpy as np
import random
# from collections import Counter
import matplotlib.pyplot as plt
# import json

# import csv

In [3]:
# class ItemLoader(ItemLoader):

#     default_output_processor = MapCompose(unicode.strip)

In [4]:
%matplotlib inline

In [5]:
fname = r'/home/rkogeyam/PATENT_CITATION/uspatentcitation.tsv'
dst = '/home/rkogeyam/PATENT_CITATION/fwd_back_cit.csv'

In [6]:
# # To run a sample

# # n = sum(1 for line in open(fname)) - 1 #number of records in file (excludes header)
# n=91867780

# s = 10000 #desired sample size
# skip = sorted(random.sample(range(1,n+1),n-s)) #the 0-indexed header will not be included in the skip list
# df = pd.read_csv(fname, skiprows=skip, sep='\t', lineterminator='\n', na_values='-')

In [7]:
#To run complete
df = pd.read_csv(fname, sep='\t', lineterminator='\n', na_values='-')

In [8]:
# asg = pd.read_csv(r'/home/rkogeyam/PATENT_CITATION/uspatentcitation.tsv', sep='\t', lineterminator='\n', na_values='-')

In [9]:
# df.to_csv('/home/rkogeyam/PATENT_CITATION/fwd_back_cit.csv')

In [10]:
# df=pd.read_csv('/home/rkogeyam/PATENT_CITATION/sample_fwd_back_cit.csv')

In [11]:
df=df.iloc[:,1:]

In [12]:
df.describe()

           sequence
count  9.145330e+07
mean   6.672389e+01
std    1.764092e+02
min    0.000000e+00
25%    4.000000e+00
50%    1.200000e+01
75%    5.000000e+01
max    5.840000e+03

In [13]:
df.head()

,patent_id,citation_id,date,name,kind,country,category,sequence
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1

In [14]:
#stripping white spaces
# df['patent_id'] = df1['patent_id'].str.strip()
# df['citation_id'] = df1['citation_id'].str.strip()

In [15]:
# df1=df

In [16]:
df.shape

(91453297, 8)

In [17]:
#stripping non desired characters
df['patent_id'] = df['patent_id'].str.extract('([a-zA-Z0-9]+)', expand=False)
df['citation_id'] = df['citation_id'].str.extract('([a-zA-Z0-9]+)', expand=False)

In [18]:
df['patent_id'] = df['patent_id'].str.strip()
df['citation_id'] = df['citation_id'].str.strip()
# [a-fA-F0-9]

In [19]:
# ne = (df != df1).any(1)
# ne_stacked = (df != df1).stack()
# changed = ne_stacked[ne_stacked]
# changed.index.names = ['id', 'col']
# changed

In [20]:
df.head()

,patent_id,citation_id,date,name,kind,country,category,sequence
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1

In [21]:
df.tail()

,patent_id,citation_id,date,name,kind,country,category,sequence
91453292,9829282,7281600,2007-10-01,Chernoff et al.,B2,US,cited by applicant,13
91453293,9822033,5424029,1995-06-01,Kennedy,A,US,cited by examiner,12
91453294,9798759,5870758,1999-02-01,Bamford et al.,A,US,cited by applicant,4
91453295,9845909,4632433,1986-12-01,Kimura,A,US,cited by applicant,31
91453296,9841183,4036716,1977-07-01,Hulthe,A,US,cited by examiner,17

In [22]:
df.sort_values('patent_id').head()

,patent_id,citation_id,date,name,kind,country,category,sequence
55748086,3930271,2379430,1945-07-01,Frost,NaN,US,NaN,0
88405776,3930271,2782422,1957-02-01,Bencriscutto,NaN,US,NaN,1
85438079,3930272,1609246,1926-11-01,Hamburger,NaN,US,NaN,2
25799113,3930272,1549144,1925-08-01,Messegee,NaN,US,NaN,1
37961642,3930272,2711301,1955-06-01,Jaspersen,NaN,US,NaN,8

In [23]:
# df1.tail()

In [24]:
# forward_citation=df.groupby(['patent_id']).count().reset_index()
forward_citation=df.groupby(['patent_id']).count().iloc[:, 1]

In [25]:
forward_citation

patent_id
3930271      2
3930272     11
3930273      8
3930274      3
3930275      2
3930276      2
3930277      3
3930278      8
3930279      3
3930280      4
3930281      6
3930282      8
3930283     10
3930284      2
3930285     11
3930286      8
3930287      5
3930288      8
3930289      4
3930290      8
3930291     11
3930292      2
3930293      6
3930294      5
3930295      4
3930296      9
3930297      5
3930298     11
3930299      2
3930300      8
          ...
RE46622      1
RE46623     11
RE46624      1
RE46625    153
RE46626    153
RE46627     18
RE46628      1
RE46629     10
RE46630      1
RE46631      1
RE46632     30
RE46633      4
RE46634      2
RE46635      8
RE46637    136
RE46638     39
RE46639      3
RE46640      9
RE46641      1
RE46643     51
RE46644      5
RE46645    422
RE46646     70
RE46647    128
RE46648     27
RE46649      8
RE46650     81
RE46651     68
RE46652     12
RE46653     32
Name: date, dtype: int64

In [26]:
forward_citation=forward_citation.fillna(0)

In [27]:
forward_citation.describe()

count    6.188752e+06
mean     1.477734e+01
std      4.195242e+01
min      1.000000e+00
25%      4.000000e+00
50%      7.000000e+00
75%      1.300000e+01
max      5.811000e+03
Name: date, dtype: float64

In [28]:
backward_citation=df.groupby(['citation_id']).count().iloc[:, 1]

In [29]:
#to find weird ids - backward citation only

#bigger citation ids are generally application numbers
# backward_citation_big=df[df['citation_id'].str.len() > 8 ]

#many small citation id are citation of very old patents
# backward_citation_small=df[df['citation_id'].str.len() < 6 ]

In [1]:
# backward_citation_big

In [2]:
# backward_citation_small

In [32]:
#41579 small and 136935 large citation_ids (total=178514 citations) from 91453297 citations represent 0.2% of citations
#for this reason, I am ignoring these errors for now

In [33]:
# result = pd.concat([forward_citation, backward_citation], axis=1, join='outer')

# result.columns=['forward_citation', 'backward_citation']

# result=result.fillna(0)

In [34]:
# result

In [35]:
# result.head()

In [36]:
# result.describe()

In [37]:
# plt.figure()
# result.hist()

In [38]:
# result.boxplot()

In [39]:
# result.to_csv(dst) #the file is frozen as of Oct 10 2019

In [40]:
# Some additional analysis

In [41]:
pt_df = pd.read_csv('patent.csv', sep='\t', na_values='-', usecols=[0,4], error_bad_lines=False, index_col=0, dtype={0: object})
# pt_df.columns=['patent_date']

In [42]:
# pt_df

In [43]:
df=df.rename(columns = {'date':'citation_date'})
df['citation_date']=pd.to_datetime(df['citation_date'], format="%Y-%m-%d", errors='coerce') #conversao de string para data
# df['cit_year']=df['citation_date'].dt.year
# df['cit_month']=df['citation_date'].dt.month
# df['cit_day']=df['citation_date'].dt.day

In [44]:
# df is the citation dataset
# pt_df is the patent dataset
df=pd.merge(df, pt_df, how='left', left_on='patent_id', right_index=True)

In [45]:
df.shape

(91453297, 9)

In [46]:
df=df.rename(columns = {'date':'patent_date'})
df['patent_date']=pd.to_datetime(df['patent_date'], format="%Y-%m-%d", errors='coerce') #conversao de string para data
# df['patt_year']=df['patent_date'].dt.year
# df['pat_month']=df['patent_date'].dt.month
# df['pat_day']=df['patent_date'].dt.day

In [47]:
df=df.dropna()

In [48]:
df.sort_values('citation_id')

,patent_id,citation_id,citation_date,name,kind,country,category,sequence,patent_date
35237023,7017481,000004,1836-08-01,Blanchard,A,US,cited by examiner,0,2006-03-28
25199038,6813147,000006,1836-08-01,Blanchard,A,US,cited by examiner,0,2004-11-02
68221761,7446315,000169,1837-04-01,Bigelow,A,US,cited by other,0,2008-11-04
9504420,7429734,000169,1837-04-01,Bigelow,A,US,cited by other,0,2008-09-30
47265266,7744793,000169,1837-04-01,Bigelow,A,US,cited by other,0,2010-06-29
47431113,6800633,000280,2001-11-01,Castelhano et al.,A1,US,cited by other,29,2004-10-05
6418142,6381072,000491,1837-11-01,Clark et al.,A,US,cited by examiner,0,2002-04-30
7167405,6565334,000588,1838-02-01,Ericsson,A,US,cited by other,0,2003-05-20
18371682,7927216,001383,1994-12-01,Kaplan et al.,A,US,cited by other,82,2011-04-19
80217407,7578812,001674,1997-08-01,Ames et al.,A,US,cited by examiner,51,2009-08-25
35770751,6496942,001860,2000-09-01,Asthana et al.,A,US,cited by other,43,2002-12-17
64840072,8170919,002057,2007-01-01,Danzig et al.,A1,US,cited by other,8,2012-05-01
9113506,6712847,002403,2002-01-01,Zdenek et al.,A1,US,cited by other,5,2004-03-30
61740755,6739392,002626,1842-06-01,Frank,A,US,cited by other,0,2004-05-25
24066797,6575250,002626,2001-06-01,Frank et al,A1,US,cited by other,223,2003-06-10
74557395,6444554,002714,1842-06-01,Doan,A,US,cited by other,0,2002-09-03
11861777,6824514,002934,1843-06-01,Oosawa,A,US,cited by other,0,2004-11-30
36825507,7742108,003545,2001-06-01,Hong,A1,US,cited by other,74,2010-06-22
87236573,6711181,003795,2002-01-01,Oskouy et al.,A1,US,cited by examiner,9,2004-03-23
60517523,8071156,003904,2010-01-01,Duescher,A1,US,cited by other,435,2011-12-06
59317972,8080594,004365,2008-01-01,Blackwell,A1,US,cited by other,25,2011-12-20
13299732,7664836,004935,2006-01-01,Seto et al.,A1,US,cited by other,58,2010-02-16
79372859,7878006,005320,2001-06-01,Ueda et al.,A1,US,cited by other,411,2011-02-01
36271636,6660229,005478,1848-01-01,Hillenkamp,A,US,cited by other,0,2003-12-09
29176491,6856941,00588,1838-02-01,Ericsson,A,US,cited by other,0,2005-02-15
45012344,8147081,006039,2002-01-01,Ueda et al.,A1,US,cited by other,1,2012-04-03
2482740,6800633,006405,2001-11-01,Castelhano et al.,A1,US,cited by other,30,2004-10-05
62758719,6802308,007,1836-08-01,Blanchard,A,US,cited by other,0,2004-10-12
69380620,7115618,00725,1990-01-01,Gordon,A,US,cited by other,10,2006-10-03
56782633,7769642,007276,2002-01-01,Rosenblatt et al.,A1,US,cited by other,8,2010-08-03
...,...,...,...,...,...,...,...,...,...
50236016,6620187,T994001,1980-05-01,Buckberg et al.,I4,US,cited by other,11,2003-09-16
66997051,D487148,T994001,1980-05-01,Buckberg et al.,I4,US,cited by other,12,2004-02-24
74270424,7016887,T998008,1980-09-01,"DeLano, Jr.",I4,US,cited by other,0,2006-03-21
38227412,6684188,T998008,1980-09-01,"DeLano, Jr.",I4,US,cited by other,6,2004-01-27
9088115,9327920,T998009,1980-09-01,Bevan,I4,US,cited by examiner,10,2016-05-03
39036509,9365369,T998009,1980-09-01,Bevan,I4,US,cited by applicant,10,2016-06-14
82720004,6656988,T999002,1980-10-01,Twiggs,I4,US,cited by examiner,0,2003-12-02
16686272,8637317,W2006026351,2006-03-01,Kim,A1,US,cited by applicant,52,2014-01-28
66633285,7994801,W2008021907,2008-02-01,Chladek et al.,A2,US,cited by other,12,2011-08-09
64103864,8617192,W9956801,1999-11-01,Griffin et al.,A2,US,cited by applicant,10,2013-12-31
72363651,8024791,WO113572,2001-02-01,Lott,A1,US,cited by other,4,2011-09-20
61367254,8612520,WO133435,2001-05-01,Colton et al.,A1,US,cited by applicant,2,2013-12-17
55932025,7253285,WO2004047760,2004-06-01,De Fabio et al.,A2,US,cited by examiner,0,2007-08-07
52926951,8706184,WO2005034747,2005-04-01,Frangioni,A1,US,cited by applicant,14,2014-04-22
60980817,8701996,WO2010097711,2010-09-01,Annamalai et al.,A2,US,cited by applicant,65,2014-04-22
28993717,8701996,WO2010111130,2010-09-01,Annamalai et al.,A2,US,cited by applicant,66,2014-04-22
32081745,8628001,WO216213,2002-02-01,Mazurek,A2,US,cited by applicant,7,2014-01-14
50026923,8613889,WO3045556,2003-06-01,De Guzman et al.,A2,US,cited by applicant,50,2013-12-24
21594361,8689367,WO3063671,2003-08-01,Yoo,A1,US,cited by applicant,12,2014-04-08
28486414,8501824,WO9725070,1997-07-01,Chen et al.,A,US,cited by applicant,25,2013-08-06
30029118,8349276,WO9917093,1999-04-01,Hunter,A1,US,cited by other,189,2013-01-08
1326458,6499939,X000001,1831-04-01,Coney,I1,US,cited by examiner,0,2002-12-31
12179702,8256951,X5080,1828-04-01,Spain,I1,US,cited by examiner,0,2012-09-04
31266997,D452776,X5994,1830-05-01,Aiken,I1,US,cited by examiner,2,2002-01-08
60681208,D463134,X5994,1830-05-01,Aiken,I1,US,cited by examiner,0,2002-09-24
57403426,8756728,X6514,1831-04-01,Harrington,I1,US,cited by examiner,0,2014-06-24
66749367,8887539,X6543,1831-05-01,Crail,I1,US,cited by examiner,0,2014-11-18
72353778,D758282,X7929,1833-12-01,King,I1,US,cited by examiner,0,2016-06-07
61446677,8375592,X866,1808-04-01,Dearborn,I1,US,cited by examiner,0,2013-02-19
33657833,8464491,X9715,1836-06-01,Mott,I1,US,cited by applicant,0,2013-06-18

In [49]:
df['cit_delay']=df['patent_date'].sub(df['citation_date'], axis=0)

In [50]:
df['cit_delay']=pd.to_timedelta(df['cit_delay'])

In [51]:
df.describe()

           sequence                  cit_delay
count  6.941535e+07                   69415348
mean   8.415553e+01  5587 days 03:16:23.739630
std    1.983438e+02  5448 days 12:30:49.244062
min    0.000000e+00           28 days 00:00:00
25%    5.000000e+00         2333 days 00:00:00
50%    1.900000e+01         4201 days 00:00:00
75%    7.400000e+01         6772 days 00:00:00
max    5.840000e+03        85037 days 00:00:00

In [52]:
df.cit_delay.days.hist()
#

In [ ]:
df.cit_delay.boxplot()

In [ ]:
print("Delay in years: %.2f" % df.cit_delay.mean().days/360)