In [1]:
# Script to calculate total citation each patent made and received
# Backward citation - citation made by a patent
# Forward citation - citation received by a patent

# Renato Kogeyama

# Oct 12 2019
# Miami

# Created a sampler_script to avoid sampling every time I want to run a test
# This way, I eliminate the sampling part of this code.

# Oct 12 2019
# Miami

# Maybe some additional analysis of citation can be useful
# Let's see how citations happen  throughout  the years


# Oct 08 2019
# Miami

#From 91,453,297 citations ids, 178,514 are larger or smaller than the majority 7-digit ids
#This represent less than 0.2% of total citations
#Two main reasons - citation_id is old (thus patents had less than 7 digits) 
#or citation is represented by the application number (typically much larger)
#As the number is small, I will go on with the current set and if necessary I'll come back later.
#This file is being renamed from 'uspto_citations_clean-sandbox-Copy1' to 'patent_citation'


# Oct 03 2019
# New York

# The function group_values do not work because it only counts the occurrences of the patents
# The correction is to groupby and sum
# Histograms of forward and should be different, but the number of occurrences should be the same
# Also, averages should be the same (avg_fwr==avg_back=sum(x)/num(x) and standard deviations should be different (due sum(x^2)/num)

# Oct 02 2019
# Syracuse

#This is a sandbox version for the citations update
#I identified an issue with the citations, and now I am working in a new citations dataset
#I included backward citations and I am planning some basic stats 


# Sep 28 2019
# Miami

# Original:testing_csv_chunk_read-Copy1.ipynb

# When working on the determinants of patent citation, I found a weird concentration of 14 citations in patents from 2003
# Most likely there is some issue with the 'join' statement
# This code is helping me debbuggin the issue
# The idea is to isolate the patents who had this number of citations
# To do that, I face an issue of memory size, the file is too large and memory runs out
# I use the iterator option from pandas.read_csv, what gives me an iterator in the place of the dataframe


# update: as I read the files, I find many whitespaces
# usually i would clean with .str.strip(), but I am using an iterator.

# Ha um problema no arquivo de citacoes. Estou reescrevendo o codigo que junta as citacoes a tabela base de patentes
# Estou tambem acrescentando backward citation - a intencao eh usar da mesma forma que claims e tambem para salientar o significado das forward citations
# Porem carregar o arquivo inteiro na memoria nao esta funcionado

# Quando o Marcelo escreveu o codig lxml, tudo foi feito com iterators
# Nao estou conseguindo testar por algum problema no servidor

# Assim, o que vou fazer agora eh selecionar um chunk para trabalhar localmente

In [2]:
import pandas as pd
import numpy as np
# import random
# from collections import Counter
import matplotlib.pyplot as plt
# import json

# import csv

In [3]:
# class ItemLoader(ItemLoader):

#     default_output_processor = MapCompose(unicode.strip)

In [4]:
%matplotlib inline

In [5]:
fname = r'/home/rkogeyam/PATENT_CITATION/uspatentcitation.tsv'
# fname = r'/home/rkogeyam/PATENT_CITATION/cit_sample.csv' #for running a sample

dst = '/home/rkogeyam/PATENT_CITATION/fwd_back_cit.csv'

In [6]:
%%time
df = pd.read_csv(fname, sep='\t', lineterminator='\n', na_values='-')
#df = pd.read_csv(fname, lineterminator='\n', na_values='-')

CPU times: user 7min 24s, sys: 27 s, total: 7min 51s
Wall time: 7min 51s

In [7]:
# asg = pd.read_csv(r'/home/rkogeyam/PATENT_CITATION/uspatentcitation.tsv', sep='\t', lineterminator='\n', na_values='-')

In [8]:
%%time
df=df.iloc[:,1:]

CPU times: user 6.69 s, sys: 2.28 s, total: 8.98 s
Wall time: 8.92 s

In [9]:
%%time
df

,patent_id,citation_id,date,name,kind,country,category,sequence
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1
5,6904562,6593944,2003-07-01,Nicolas et al.,B1,US,cited by examiner,9
6,8231217,6281366,2001-08-01,Frigoli et al.,B1,US,cited by other,38
7,7859449,6441773,2002-08-01,Kelly et al.,B1,US,cited by other,39
8,8800285,7721552,2010-05-01,Hansson et al.,B2,US,cited by applicant,81
9,7272441,6553257,2003-04-01,Snyder et al.,B2,US,cited by examiner,4
10,D562957,D415266,1999-10-01,Glattstein,S,US,cited by examiner,1
11,7829434,6875633,2005-04-01,Fukunaga,B2,US,cited by other,11
12,4494772,3743315,1973-07-01,Bilas,NaN,US,NaN,8
13,8098899,6636802,2003-10-01,Nakano et al.,B1,US,cited by examiner,0
14,8984694,D193652,1962-09-01,Adams,S,US,cited by applicant,19
15,5431689,4726380,1988-02-01,Vollmann et al.,NaN,US,NaN,12
16,6524488,5069404,1991-12-01,Bouchard,A,US,cited by other,44
17,D667287,4727368,1988-02-01,Larson et al.,A,US,cited by examiner,1
18,8056786,5201750,1993-04-01,Hocherl et al.,A,US,cited by other,256
19,5931062,4357844,1982-11-01,Welbon,NaN,US,NaN,15
20,D338114,4341419,1982-07-01,Sebel,NaN,US,NaN,10
21,8225824,6599476,2003-07-01,Watson et al.,B1,US,cited by other,123
22,7745810,5781717,1998-07-01,Wu et al.,A,US,cited by other,89
23,8626409,6053833,2000-04-01,Masaki,A,US,cited by applicant,199
24,6618603,4206755,1980-06-01,Klein,A,US,cited by examiner,1
25,7972326,5281214,1994-01-01,Wilkins et al.,A,US,cited by other,1
26,4715135,3912084,1975-10-01,Valiulis,NaN,US,NaN,2
27,8882163,6017067,2000-01-01,Yoneyama et al.,A,US,cited by examiner,3
28,7242988,5995094,1999-11-01,Eggen et al.,A,US,cited by other,586
29,D515723,D469908,2003-02-01,Chen,S,US,cited by other,15
...,...,...,...,...,...,...,...,...
91453267,9808250,5480382,1996-01-01,Hammerslag et al.,A,US,cited by applicant,44
91453268,9782005,4926308,1990-05-01,Giles et al.,A,US,cited by applicant,18
91453269,9820146,7525504,2009-04-01,Song et al.,B1,US,cited by applicant,1084
91453270,9830913,7487089,2009-02-01,Mozer,B2,US,cited by applicant,28
91453271,9804114,6406066,2002-06-01,Uegane,B1,US,cited by applicant,511
91453272,9816859,4365896,1982-12-01,Mihalow,A,US,cited by examiner,0
91453273,9830762,6456928,2002-09-01,Johnson,B1,US,cited by applicant,296
91453274,9841684,6697695,2004-02-01,Kurihara et al.,B1,US,cited by applicant,3
91453275,D801312,D553122,2007-10-01,Solland,S,US,cited by examiner,26
91453276,9795442,7588535,2009-09-01,Adler et al.,B2,US,cited by applicant,235
91453277,9792659,5597312,1997-01-01,Bloom et al.,A,US,cited by applicant,68
91453278,9801552,4957109,1990-09-01,Groeger et al.,A,US,cited by applicant,13
91453279,9828688,9677188,2017-06-01,Stowell et al.,B2,US,cited by applicant,64
91453280,9790893,8961114,2015-02-01,Ruthemeyer,B2,US,cited by examiner,14
91453281,9817333,4457738,1984-07-01,Gross et al.,A,US,cited by applicant,15
91453282,9846052,9129295,2015-09-01,Border,B2,US,cited by examiner,11
91453283,9797880,6607509,2003-08-01,Bobroff et al.,B2,US,cited by applicant,241
91453284,9802873,4720600,1988-01-01,Beech et al.,A,US,cited by applicant,7
91453285,9841175,D508575,2005-08-01,Buschmann et al.,S,US,cited by applicant,157
91453286,9804618,8517244,2013-08-01,"Shelton, IV et al.",B2,US,cited by applicant,2187
91453287,9813368,7177909,2007-02-01,Stark et al.,B2,US,cited by applicant,39
91453288,9788834,5620289,1997-04-01,Curry,A,US,cited by applicant,639
91453289,9838474,6671688,2003-12-01,Nikols et al.,B1,US,cited by applicant,33
91453290,9824316,8494997,2013-07-01,"Bellamy, III et al.",B2,US,cited by applicant,10
91453291,9839422,7799044,2010-09-01,Johnston et al.,B2,US,cited by applicant,1871
91453292,9829282,7281600,2007-10-01,Chernoff et al.,B2,US,cited by applicant,13
91453293,9822033,5424029,1995-06-01,Kennedy,A,US,cited by examiner,12
91453294,9798759,5870758,1999-02-01,Bamford et al.,A,US,cited by applicant,4
91453295,9845909,4632433,1986-12-01,Kimura,A,US,cited by applicant,31
91453296,9841183,4036716,1977-07-01,Hulthe,A,US,cited by examiner,17

In [10]:
%%time
df.describe()

           sequence
count  9.145330e+07
mean   6.672389e+01
std    1.764092e+02
min    0.000000e+00
25%    4.000000e+00
50%    1.200000e+01
75%    5.000000e+01
max    5.840000e+03

In [11]:
df.head()

,patent_id,citation_id,date,name,kind,country,category,sequence
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1

In [12]:
#stripping white spaces
# df['patent_id'] = df1['patent_id'].str.strip()
# df['citation_id'] = df1['citation_id'].str.strip()

In [13]:
# df1=df

In [14]:
%%time
df.shape

(91453297, 8)

In [15]:
%%time
#stripping non desired characters
df['patent_id'] = df['patent_id'].str.extract('([a-zA-Z0-9]+)', expand=False)
df['citation_id'] = df['citation_id'].str.extract('([a-zA-Z0-9]+)', expand=False)

CPU times: user 4min 41s, sys: 48 ms, total: 4min 41s
Wall time: 4min 40s

In [16]:
%%time
df['patent_id'] = df['patent_id'].str.strip()
df['citation_id'] = df['citation_id'].str.strip()
# [a-fA-F0-9]

CPU times: user 1min 18s, sys: 28 ms, total: 1min 18s
Wall time: 1min 18s

In [17]:
# ne = (df != df1).any(1)
# ne_stacked = (df != df1).stack()
# changed = ne_stacked[ne_stacked]
# changed.index.names = ['id', 'col']
# changed

In [18]:
%%time
df.head()

,patent_id,citation_id,date,name,kind,country,category,sequence
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413
2,5354551,4875247,1989-10-01,Berg,NaN,US,NaN,11
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1

In [19]:
%%time
df.tail()

,patent_id,citation_id,date,name,kind,country,category,sequence
91453292,9829282,7281600,2007-10-01,Chernoff et al.,B2,US,cited by applicant,13
91453293,9822033,5424029,1995-06-01,Kennedy,A,US,cited by examiner,12
91453294,9798759,5870758,1999-02-01,Bamford et al.,A,US,cited by applicant,4
91453295,9845909,4632433,1986-12-01,Kimura,A,US,cited by applicant,31
91453296,9841183,4036716,1977-07-01,Hulthe,A,US,cited by examiner,17

In [20]:
# df.sort_values('patent_id').head()

,patent_id,citation_id,date,name,kind,country,category,sequence
55748086,3930271,2379430,1945-07-01,Frost,NaN,US,NaN,0
88405776,3930271,2782422,1957-02-01,Bencriscutto,NaN,US,NaN,1
85438079,3930272,1609246,1926-11-01,Hamburger,NaN,US,NaN,2
25799113,3930272,1549144,1925-08-01,Messegee,NaN,US,NaN,1
37961642,3930272,2711301,1955-06-01,Jaspersen,NaN,US,NaN,8

In [21]:
# df1.tail()

In [22]:
%%time
# forward_citation=df.groupby(['patent_id']).count().reset_index()
forward_citation=df.groupby(['patent_id']).count().iloc[:, 1]

CPU times: user 3min 9s, sys: 2.98 s, total: 3min 12s
Wall time: 3min 11s

In [23]:
# forward_citation

In [24]:
%%time
forward_citation=forward_citation.fillna(0)

CPU times: user 22 ms, sys: 0 ns, total: 22 ms
Wall time: 21.9 ms

In [25]:
%%time
forward_citation.describe()

CPU times: user 421 ms, sys: 999 µs, total: 422 ms
Wall time: 424 ms

count    6.188752e+06
mean     1.477734e+01
std      4.195242e+01
min      1.000000e+00
25%      4.000000e+00
50%      7.000000e+00
75%      1.300000e+01
max      5.811000e+03
Name: date, dtype: float64

In [26]:
%%time
backward_citation=df.groupby(['citation_id']).count().iloc[:, 1]

CPU times: user 2min 59s, sys: 2.7 s, total: 3min 1s
Wall time: 3min 1s

In [27]:
#to find weird ids - backward citation only

#bigger citation ids are generally application numbers
# backward_citation_big=df[df['citation_id'].str.len() > 8 ]

#many small citation id are citation of very old patents
# backward_citation_small=df[df['citation_id'].str.len() < 6 ]

In [28]:
# backward_citation_big

In [29]:
# backward_citation_small

In [30]:
#41579 small and 136935 large citation_ids (total=178514 citations) from 91453297 citations represent 0.2% of citations
#for this reason, I am ignoring these errors for now

In [31]:
#%%time
#result = pd.concat([forward_citation, backward_citation], axis=1, join='outer')

#result.columns=['forward_citation', 'backward_citation']

#result=result.fillna(0)

In [32]:
#result.shape

In [33]:
# result.head()

In [34]:
# result.describe()

In [35]:
# plt.figure()
# result.hist()

In [36]:
# result.boxplot()

In [37]:
# result.to_csv(dst) #the file is frozen as of Oct 10 2019

In [38]:
# Some additional analysis

In [39]:
%%time
pt_df = pd.read_csv('patent.csv', sep='\t', na_values='-', usecols=[0,4], error_bad_lines=False, index_col=0, dtype={0: object})
# pt_df.columns=['patent_date']

CPU times: user 30.4 s, sys: 2.41 s, total: 32.8 s
Wall time: 32.9 s

In [40]:
# pt_df

In [41]:
%%time
df=df.rename(columns = {'date':'citation_date'})
df['citation_date']=pd.to_datetime(df['citation_date'], format="%Y-%m-%d", errors='coerce') #conversao de string para data
# df['cit_year']=df['citation_date'].dt.year
# df['cit_month']=df['citation_date'].dt.month
# df['cit_day']=df['citation_date'].dt.day

CPU times: user 49.7 s, sys: 4.41 s, total: 54.1 s
Wall time: 53.9 s

In [42]:
%%time
# df is the citation dataset
# pt_df is the patent dataset
df=pd.merge(df, pt_df, how='left', left_on='patent_id', right_index=True)

CPU times: user 2min 2s, sys: 3.93 s, total: 2min 6s
Wall time: 2min 5s

In [43]:
%%time
df.shape

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 50.1 µs

(91453297, 9)

In [44]:
%%time
df=df.rename(columns = {'date':'patent_date'})
df['patent_date']=pd.to_datetime(df['patent_date'], format="%Y-%m-%d", errors='coerce') #conversao de string para data
# df['patt_year']=df['patent_date'].dt.year
# df['pat_month']=df['patent_date'].dt.month
# df['pat_day']=df['patent_date'].dt.day

CPU times: user 1min 2s, sys: 6.72 s, total: 1min 9s
Wall time: 1min 8s

In [45]:
%%time
df=df.dropna()

CPU times: user 46 s, sys: 4.02 s, total: 50 s
Wall time: 49.9 s

In [46]:
%%time
df.sort_values('citation_id').head()

CPU times: user 12min 24s, sys: 2.4 s, total: 12min 26s
Wall time: 12min 23s

,patent_id,citation_id,citation_date,name,kind,country,category,sequence,patent_date
35237023,7017481,000004,1836-08-01,Blanchard,A,US,cited by examiner,0,2006-03-28
25199038,6813147,000006,1836-08-01,Blanchard,A,US,cited by examiner,0,2004-11-02
68221761,7446315,000169,1837-04-01,Bigelow,A,US,cited by other,0,2008-11-04
9504420,7429734,000169,1837-04-01,Bigelow,A,US,cited by other,0,2008-09-30
47265266,7744793,000169,1837-04-01,Bigelow,A,US,cited by other,0,2010-06-29

In [47]:
%%time
df['cit_delay']=df['patent_date'].sub(df['citation_date'], axis=0)

CPU times: user 536 ms, sys: 280 ms, total: 816 ms
Wall time: 836 ms

In [48]:
%%time
df['cit_delay']=pd.to_timedelta(df['cit_delay'])

CPU times: user 949 ms, sys: 259 ms, total: 1.21 s
Wall time: 1.21 s

In [49]:
%%time
df.describe()

CPU times: user 12.1 s, sys: 3.21 s, total: 15.3 s
Wall time: 15.3 s

           sequence                  cit_delay
count  6.941535e+07                   69415348
mean   8.415553e+01  5587 days 03:16:23.739630
std    1.983438e+02  5448 days 12:30:49.244062
min    0.000000e+00           28 days 00:00:00
25%    5.000000e+00         2333 days 00:00:00
50%    1.900000e+01         4201 days 00:00:00
75%    7.400000e+01         6772 days 00:00:00
max    5.840000e+03        85037 days 00:00:00

In [50]:
%%time
df['cit_delay']=df['cit_delay'].dt.days/360
#

CPU times: user 11min 46s, sys: 3.58 s, total: 11min 49s
Wall time: 11min 48s

In [51]:
%%time
df.cit_delay.describe()

CPU times: user 4.86 s, sys: 913 ms, total: 5.78 s
Wall time: 5.77 s

count    6.941535e+07
mean     1.551982e+01
std      1.513478e+01
min      7.777778e-02
25%      6.480556e+00
50%      1.166944e+01
75%      1.881111e+01
max      2.362139e+02
Name: cit_delay, dtype: float64

In [52]:
%%time
avg_delay=df.groupby('citation_id').cit_delay.agg(['mean', 'count'])
# std=df.groupby('citation_id').std()

CPU times: user 2min 13s, sys: 2.2 s, total: 2min 15s
Wall time: 2min 15s

In [53]:
%%time
avg_delay.sort_values('count')
# avg_delay

CPU times: user 3.43 s, sys: 2 ms, total: 3.44 s
Wall time: 3.43 s

                   mean  count
citation_id
000004       172.125000      1
6365324        7.916667      1
636531       108.827778      1
6365308        3.230556      1
6365279        9.413889      1
6365277        6.750000      1
6365275        3.736111      1
6365271        0.605556      1
6365263        4.241667      1
6365252       12.233333      1
6365248        4.416667      1
6365243       14.100000      1
6365226        8.441667      1
6365224       11.786111      1
6365223        4.669444      1
6365201       15.402778      1
6365170       14.216667      1
6365163        4.163889      1
6365162       15.655556      1
6365141        6.963889      1
6365122       13.108333      1
6365096        9.783333      1
6365093       14.994444      1
6365091        0.547222      1
6365328        7.800000      1
6365335        2.297222      1
6365348        7.411111      1
6365357       15.072222      1
6365589        2.200000      1
6365586        0.975000      1
...                 ...    ...
5892900       12.734755   2440
4683195       24.066190   2458
7501293        6.610923   2461
7385224        7.386385   2468
7105868        9.138963   2477
7453065        6.936663   2480
7049190        9.480420   2481
7211825        8.474819   2484
7468304        6.852803   2484
5744864       17.611018   2486
7462862        6.861311   2487
7453087        6.936730   2488
7323356        7.783167   2493
7402506        7.265525   2494
7732819        5.361776   2497
7411209        7.163210   2503
7064346        9.381043   2509
7282782        8.032962   2511
6563174       12.465077   2517
6727522       11.503524   2546
6294274       14.154369   2551
7297977        7.918775   2553
7061014        9.339408   2568
5731856       17.510200   2583
7674650        5.596061   2588
4683202       24.029789   2996
5523520       16.252396   3406
2003           1.277440  18872
2001           2.367361  18894
2002           1.846482  43157

[5762299 rows x 2 columns]

In [54]:
%%time
df.head()

,patent_id,citation_id,citation_date,name,kind,country,category,sequence,patent_date,cit_delay
0,9009250,8127342,2012-02-01,Boynton et al.,B2,US,cited by applicant,622,2015-04-14,3.244444
1,9643605,5471515,1995-11-01,Fossum et al.,A,US,cited by applicant,413,2017-05-09,21.833333
3,D786922,D718330,2014-11-01,Shin,S,US,cited by examiner,11,2017-05-16,2.575000
4,D490798,D190749,1961-06-01,Matri et al.,S,US,cited by examiner,1,2004-06-01,43.627778
5,6904562,6593944,2003-07-01,Nicolas et al.,B1,US,cited by examiner,9,2005-06-07,1.963889

In [55]:
%%time
result = pd.concat([avg_delay, forward_citation], axis=1, join='outer')

CPU times: user 1min 3s, sys: 786 ms, total: 1min 4s
Wall time: 1min 4s

In [56]:
%%time
result.shape

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 30 µs

(7493846, 3)

In [57]:
%%time
result.columns=['avg_delay', 'backward_citation', 'forward_citation']

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 352 µs

In [58]:
%%time
result

               avg_delay  backward_citation  forward_citation
000004        172.125000                1.0               NaN
000006        170.705556                1.0               NaN
000169        174.619444                3.0               NaN
000280          2.969444                1.0               NaN
000491        166.888889                1.0               NaN
000588        167.702778                1.0               NaN
001383         16.619444                1.0               NaN
001674         12.241667                1.0               NaN
001860          2.325000                1.0               NaN
002057          5.408333                1.0               NaN
002403          2.275000                1.0               NaN
002626         83.197222                2.0               NaN
002714        162.591667                1.0               NaN
002934        163.852778                1.0               NaN
003545          9.188889                1.0               NaN
003795          2.255556                1.0               NaN
003904          1.955556                1.0               NaN
004365          4.025000                1.0               NaN
004935          4.186111                1.0               NaN
005320          9.811111                1.0               NaN
005478        158.208333                1.0               NaN
00588         169.472222                1.0               NaN
006039         10.402778                1.0               NaN
006405          2.969444                1.0               NaN
007           170.647222                1.0               NaN
00725          16.997222                1.0               NaN
007276          8.711111                1.0               NaN
0075          166.080556                1.0               NaN
007712        162.127778                1.0               NaN
008139         10.344444                1.0               NaN
...                  ...                ...               ...
T991001        32.017778                5.0               NaN
T993001        24.986111                3.0               NaN
T993003        36.575000                2.0               NaN
T993004        24.013889                2.0               NaN
T994001        25.134167               10.0               NaN
T998008        24.833333                2.0               NaN
T998009        36.247222                2.0               NaN
T999002        23.505556                1.0               NaN
W2006026351     8.027778                1.0               NaN
W2008021907     3.569444                1.0               NaN
W9956801       14.372222                1.0               NaN
WO113572       10.786111                1.0               NaN
WO133435       12.813889                1.0               NaN
WO2004047760    3.227778                1.0               NaN
WO2005034747    9.188889                1.0               NaN
WO2010097711    3.691667                1.0               NaN
WO2010111130    3.691667                1.0               NaN
WO216213       12.125000                1.0               NaN
WO3045556      10.719444                1.0               NaN
WO3063671      10.841667                1.0               NaN
WO9725070      16.333333                1.0               NaN
WO9917093      13.975000                1.0               NaN
X000001       174.252778                1.0               NaN
X5080         187.113889                1.0               NaN
X5994         174.551389                2.0               NaN
X6514         185.900000                1.0               NaN
X6543         186.225000                1.0               NaN
X7929         185.175000                1.0               NaN
X866          207.872222                1.0               NaN
X9715         179.625000                1.0               NaN

[7493846 rows x 3 columns]

In [59]:
#result.dropna()

In [60]:
#result.fillna(0)

In [61]:
%%time
result.to_csv(dst)